.vscode/**
.vscode-test/**
node_modules/**
__mocks__/**
example/**
**/.mypy_cache/**
**/*.map
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
